/* 
First Version 

body
{
    background-color: red
}



h6
{
    color: blue
}
*/


/*
Second Version

*/
body {
    background-color: green;
}

#main_heading {
	text-align: center;
}

.section_headers {
	color: red;
	font-size: Garamond;
}


h3 ul li {
	font-size: 15px;
}


#programming_info {
	font-size: 20px;
}

