
body { 
background-color: #F3FF31;
}

#header{
text-align:center;
width:100%;
background-color: #AAFF31;
margin-bottom: 20px;
font-size: 40px;
}

div {
	margin:0 auto;
	padding:25px 0px;
	width: 600px;
	border-radius: 5px;
  	background: #AAFF31;
  	margin-bottom: 20px;
}

h3 {
	font-size:20px;
}

h4 {
	margin: 0 0 12px 0;
	color: #33383D;
	font-size:16px;

  
}

p {
 margin:0;
 font-size:15px;
 width:400px;
 float:right;
}

br {
	clear:both;
}


img {
float:left;
margin: 0 25px;
}



#sidebar {
	height:260px;
	position:relative;		
	width:200px;
	float:left;
	top: 200px;
	background-color:#AAFF31;
}


#footer{
text-align:center;
width:100%;
background-color: #AAFF31;
margin-bottom: 20px;
font-size: 40px;
}
